
// Spacing
//
$spacer : 1rem !default;
$spacers : () !default;
$spacers : map-merge((
  0 : 0,
  1 : ($spacer * .25),
  2 : ($spacer * .5),
  3 : $spacer,
  4 : ($spacer * 1.5),
  5 : ($spacer * 2),
  6 : ($spacer * 2.5),
  7 : ($spacer * 3),
  8 : ($spacer * 3.5),
  9 : ($spacer * 4),
  10 : ($spacer * 4.5),
  11 : ($spacer * 5)
), $spacers);

// Padding Spacing
// padding top and padding bottom size of a content
$content-space: 1rem !default;
$content-spacers: () !default;
$content-spacers: map-merge((
  0 : 0,
  1 : ($content-space * 2),
  2 : ($content-space * 4),
  3 : ($content-space * 8),
  4 : ($content-space * 12.5),
  5 : ($content-space * 15)
), $content-spacers);
