
// Spacing
//
$spacer : 1rem !default;
$spacers : () !default;
$spacers : map-merge((
  0 : 0,
  1 : ($spacer * .25),
  2 : ($spacer * .5)
), $spacers);

// Content Space
// padding top and padding bottom size of a content
$content-space: 1rem !default;
$content-spacers: () !default;
$content-spacers: map-merge((
  0 : 0,
  1 : ($content-space * 2),
  2 : ($content-space * 4),
  3 : ($content-space * 8),
  4 : ($content-space * 12.5),
  5 : ($content-space * 15)
), $content-spacers);
